user {{ nginx_user }};
worker_processes auto;

error_log /var/log/nginx/error.log warn;
pid /var/run/nginx.pid;

events {
  worker_connections 1024;
  use epoll;
}

http {

upstream apache24 {
  server 127.0.0.1:{{ http_port }};
}

include /etc/nginx/mime.types;
default_type application/octet-stream;

log_format main '$remote_addr - $remote_user [$time_local] "$request" '
                            '$status $body_bytes_sent "$http_referer" '
                           '"$http_user_agent" "$http_x_forwarded_for"';
access_log /var/log/nginx/access.log main;

include /etc/nginx/conf.d/*.conf;
include /etc/nginx/sites-enabled/*;
}